@import './variables';

header {
    padding: 20px 0;
    img {
        width: 50px;
    }
}

.header-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
        color: $font-color-blue;
        font-weight: bold;
    }
}